@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Outfit:wght@100..900&display=swap');

@theme {

  --font-sans: 'Outfit', sans-serif;
  --font-title: 'DM Serif Display', serif;
}

@import 'tailwindcss';
@plugin "daisyui" {
  themes: false;
}
